{% extends 'base.html' %}

{% block content %}
<div class="auth-wrapper">

    <div class="auth-card">

        <h2>Login to FITHUB</h2>
        <p class="auth-subtitle">Welcome back! Please login to continue</p>

        <form method="post">
            {% csrf_token %}

            <div class="auth-field">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="auth-field">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn-primary full-btn">
                Login
            </button>
        </form>

        <p class="auth-footer">
            Don’t have an account?
            <a href="{% url 'signup' %}">Sign up</a>
        </p>

    </div>

</div>
{% endblock %}
